.journal__main-content {
  display: flex;
}
.journal__sidebar {
  background-color: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}
.journal_sidebar-navbar {
  display: flex;
  justify-content: space-between;
}
.journal_sidebar-navbar h3 {
  font-weight: lighter;
}
.journal__new-entry {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  transition: color 0.3s ease;
  &:hover {
    color: darken($color: white, $amount: 40);
  }
}
.journal__entries {
  margin-left:10px;
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: auto;
}
.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}
.journal__entries::-webkit-scrollbar {
  -webkit-appearance: none;
}

.journal__entry-picture {
  height: 75px;
  width: 75px;
}

.journal_entry-title {
  font-weight: bold;
  font-size: 14px;
}
.journal_entry-content {
  font-size: 10px;
}
.journal__entry-body {
  padding: 10px;
}
.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.journal__entry-date-box span {
  font-size: 12px;
}
